<ul>
  <% @profiles.each do |profile| %>
    <li><%= profile.fname %></li>
    <li><%= profile.lname %></li>
    <li><%= profile.job_title %></li>
    <li><%= link_to "Update Your Profile", edit_profile_path(profile) %></li>
    <li><%= link_to "Delete Profile", profile_path(profile), method: :delete %></li>

  <% end %>
</ul>

