<%= form_for :profile, html: { mulitpart: true }, url: "/profiles" do |f| %>


  <div class="field">
    <%= f.label "First Name" %><br>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label "Last Name" %><br>
    <%= f.text_field :lname %>
  </div>

  <div class="field">
    <%= f.label "Job Title" %><br>
    <%= f.text_field :job_title %>
  </div>

  <div class="field">
    <%= f.label "Image" %><br>
    <%= f.file_field :image %>
  </div>

  <div class="actions"><br>
  <%= f.submit %>
  </div>
<% end %>
