<%= form_for @profile do |f| %>


<div class="field">
  <%= f.label :fname %><br>
  <%= f.text_field :fname %>
</div>
<div class="field">
  <%= f.label :lname %><br>
  <%= f.text_field :lname %>
</div>

<div class="field">
  <%= f.label :job_title %><br>
  <%= f.text_field :job_title %>
</div>
<div class="actions">
<%= f.submit %>
<% end %>
