<%= form_for :job, url: "/jobs" do |f| %>

  <div class="field">
    <%= f.label "Job name" %><br>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label "Cargo description" %><br>
    <%= f.text_area :cargo, :minlength => 50 %>
  </div>

  <div class="field">
    <%= f.hidden_field :boat_id, :value => @boat.id %>
  </div>

  <div class="field">
    <%= f.label "Cost" %><br>
    <%= f.number_field :cost, min: 1000 %>
  </div>

  <div class="field">
    <%= f.label "Origin" %><br>
    <%= f.select(:origin, '<option value="Chaos Garden">Chaos Garden</option><option value="Green Hill Zone">Green Hill Zone</option><option value="Eggman Empire">Eggman Empire</option><option value="The Outlands">The Outlands</option><option value="Gaia Temple">Gaia Temple</option>'.html_safe) %>
  </div>

  <div class="field">
    <%= f.label "Destination" %><br>
    <%= f.select(:destination, '<option value="Chaos Garden">Chaos Garden</option><option value="Green Hill Zone">Green Hill Zone</option><option value="Eggman Empire">Eggman Empire</option><option value="The Outlands">The Outlands</option><option value="Gaia Temple">Gaia Temple</option>'.html_safe) %>
  </div>

  <div class="actions">
  <%= f.submit %>
<% end %>