<%= form_for :job, url: "/jobs" do |f| %>


  <div class="field">
    <%= f.label "Job name" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Cargo description" %><br>
    <%= f.text_field :cargo %>
  </div>

  <div class="field">
    <%= f.label "Cost" %><br>
    <%= f.number_field :cost %>
  </div>

  <div class="field">
    <%= f.label "Origin" %><br>
    <%= f.select(:origin, '<option value="New York">New York</option><option value="Michigan">Michigan</option>'.html_safe) %>
  </div>

  <div class="field">
    <%= f.label "Destination" %><br>
    <%= f.select(:destination, '<option value="New York">New York</option><option value="Michigan">Michigan</option>'.html_safe) %>
  </div>


  <div class="actions">
  <%= f.submit %>
<% end %>